.Template {
  margin: 20px;
}

.Template-document {
  border: 1px solid black;
  height: 1158px;
  width: 819px;
}

.Template-draggable-area {
  height: 1180px;
  width: 841px;
  padding: 10px;
}


@media print {
  .Template {
    margin: 0;
  }

  .Template-document {
    border: 0;
  }

  .Template-draggable-area {
    height: 980px;
    width: 641px;
    padding: 10px;
  }
}
