.Background-box {
  width: 180px;
  height: 180px;
  margin: 10px;
  padding: 10px;
}

.Background-cursor {
  cursor: move;
}

.Background-icon {
  width: 23px;
  height: 23px;
}

.Background-no-cursor {
  cursor: auto;
}
